h1 {
  border: 1px solid $color-info;
}

section {
  button {
    border-radius: 15px !important;

    &.btn--primary {
      font-size: 22px;
    }
  }
}

/*
footer {
  div {
    background-color: #999999;
  }
}
*/
footer {
    background-color: #ced4da;
}

.bg--primary{
  background-color: $color-primary;
  border: solid 30px darken( $color-primary, 30% );


}

.bg--warning{
  background-color: $color-warning;
  border: solid 30px darken( $color-warning, 30% );

}

.bg{
  @each $name, $background-color in $variants-list {
    &--#{$name}{
    background-color: $background-color;
    border: solid 20px darken( $background-color, 30% );
  }
  }
}

.btn-round{
  @extend .btn;
    border-radius: 10%;

}
@mixin round-button($border-radius) {
  @extend %btn;
  border-radius: $border-radius;
}


.btn-round {
  @include round-button(5px);
}
.btn-round--10{
  @include round-button(10px);
}
.btn-round--15 {
  @include round-button(15px);
}
.btn-round--20 {
  @include round-button(20px);
}