h1 {
  border: 1px solid $color-info;
}

section {
  button {
    border-radius: 15px !important;

    &.btn--primary {
      font-size: 22px;
    }
  }
}

/*
footer {
  div {
    background-color: #999999;
  }
}
*/
footer {
    background-color: #ced4da;
}

footer > div > h4{

}